{% extends 'layout/base.html.twig' %}
{% block content %}
    <h1>Genre</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ genre.name }}</td>
            </tr>
        </tbody>
    </table>


            <a class="btn btn-outline-light mb-2" href="{{ path('genre_index') }}">Back to the list</a>
            <a class="btn btn-outline-light mb-2" href="{{ path('genre_edit', { 'id': genre.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
                <input class="btn btn-outline-light mb-2" type="submit" value="Delete">
            {{ form_end(delete_form) }}

{% endblock %}
