{% extends 'layout/base.html.twig' %}

{% block content %}

    <h1>Books list</h1>
    <a class="btn btn-outline-light mb-2" href="{{ path('book_new') }}">Create a new book</a>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Publicationdate</th>
            <th>Catalogdate</th>
            <th>Rating</th>
            <th>Genre</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in pagination %}
            <tr>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.name }}</td>
                <td>{% if book.publicationDate %}{{ book.publicationDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if book.catalogDate %}{{ book.catalogDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ book.rating }}</td>
                <td>
                    {%  set genreForm = filter_forms[book.id] %}
                    {{ form_start(genreForm) }}
                        <button type="submit" class="btn btn-link text-light text-underline">{{ book.genre.name }}</button>
                    {{ form_end(genreForm) }}

                </td>
                <td>{{ book.author.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('book_show', { 'id': book.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
